.our-services {
    background-color: getColor("background-0");
    padding-top: 0;

    &__title {
        font-size: getFontSize("section-header");
        line-height: 1.17;
        text-align: center;
        letter-spacing: getLetterSpacing("regular");
        margin-bottom: 50px;
    }

    &__list {
        list-style-type: none;
        display: flex;
        gap: 30px;
    }

    &__figure {
        position: relative;
        display: flex;
    }

    &__caption {
        position: absolute;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
        width: 370px;
        padding: 27px 0;
        font-weight: getFontWeight("bold");
        font-size: getFontSize("regular");
        line-height: 1.14;
        text-align: center;
        letter-spacing: getLetterSpacing("regular");
        text-transform: uppercase;
        color: getColor("opposite");
    }
}
