.products {
    &__filters {
        margin-bottom: 50px;
    }

    &__filters-list {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    &__filters-button {
        background: getColor("background-1");
        border: none;
        border-radius: 4px;
        padding: 6px 22px 6px 22px;
        font-family: inherit;
        font-weight: getFontWeight("medium");
        font-size: getFontSize("enlarged");
        line-height: 1.625;
        text-align: center;
        letter-spacing: getLetterSpacing("regular");
        transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: getColor("brand");
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            color: getColor("opposite");
            cursor: pointer;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }
    }

    &__picture-div {
        display: flex;
        position: relative;
        overflow: hidden;
    }

    &__overlay {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 370px;
        height: 294px;
        background: rgba(33, 150, 243, 0.9);
        font-size: getFontSize("product");
        line-height: 1.56;
        letter-spacing: getLetterSpacing("regular");
        color: getColor("opposite");
        padding: 49px 45px 49px 24px;
        transform: translateY(102%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .products__picture-div:hover & {
            transform: translateY(0);
        }
    }

    &__caption {
        display: block;
        padding: 20px 24px 20px 24px;
        border-right: 1px solid getColor("product-border");
        border-bottom: 1px solid getColor("product-border");
        border-left: 1px solid getColor("product-border");
    }

    &__name {
        font-size: getFontSize("product");
        line-height: 2;
        letter-spacing: getLetterSpacing("enlarged");
        margin-bottom: 4px;
    }

    &__category {
        font-size: getFontSize("enlarged");
        line-height: 1.875;
        letter-spacing: getLetterSpacing("regular");
        color: getColor("secondary");
    }
}
